.home-footer-position {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.home-footer {
  display: flex;
  flex-direction: row;
  justify-content: center;

  width: calc(600px + (100% / 2));
  height: 250px;

  border-radius: 20px 0 0 0px;

  background-color: #000;
}

.home-footer-logo {
  align-self: center;

  width: 250px;
  height: 125px;
  margin: 0 20px 0 200px;
}

.home-footer-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 1200px;
  height: 100%;
  gap: 15px;
}

.qualquercoisa-footer-title {
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  font-family: Montserrat;

  color: yellow;
}

.home-footer-nav-textos,
.qualquercoisa-footer {
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  font-family: Montserrat;

  color: #fff;
}
